.payment-dynamic {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  justify-content: space-evenly;
  margin: 4rem auto 0 auto;
  max-width: 1290px;
  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  &__text {
    color: #2a454e;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  &__title {
    color: #2a454e;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 1024px) {
  .payment-dynamic {
    margin: 0 1rem;
    grid-template-columns: 1fr;
  }
}
