.payment-dynamic {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f15a29;
  color: white;

  &__heading {
    margin: 2rem;
  }

  &__wrapper {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 210px;
  }

  &__text,
  &__title {
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1.2rem;
    text-align: center;
  }

  &__title {
    font-size: 2.5rem;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;

    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
  }
}
