.location {
  margin: 0 auto;
  max-width: 1290px;
  width: 100%;

  &__title {
    color: #2a454e;
    padding: 1rem 0;
    width: 100%;
  }

  .safe-zone {
    .location-map {
      background: gray;
      height: 400px;
    }
  }
  &__map {
    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .location {
    padding: 0 1rem;
  }

  .location .safe-zone .location-map {
    height: 500px;
  }
}
