.contact {
  max-width: 1290px;
  margin: 2rem auto 10rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;

  &__icons {
    margin: 1rem 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    img {
      width: 35px;
      height: 35px;
    }
  }

  &__icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid #176367;
    color: #176367;
    // background-color: #176367;
    cursor: pointer;
  }

  &__right {
    padding: 2rem;
    height: 100%;
    // background-color: #176367;
    background-color: #176367;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: justify;
    input,
    textarea,
    select {
      margin: 0 0 0.5rem 0;
      padding: 0.5rem;
    }
    textarea {
      resize: none;
    }
    button {
      padding: 0.5rem;
      background-color: #ff6b45;
      border: 0;
      font-weight: bold;
      color: #fff;
    }
  }
}
