$primary-color: #f05a28;

.navigation {
  z-index: 100;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  padding: 0 1rem;
  top: 0;

  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 1rem 1rem;
      position: relative;

      .nav-item-container {
        display: flex;
        align-items: center;
        min-height: 50px;
      }

      a {
        color: #333;
        text-decoration: none;
        transition: color 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          color: $primary-color;
        }
      }

      .arrow-button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin-left: 0.5rem;
        display: flex;
        align-items: center;
      }

      .arrow-down {
        transition: transform 0.2s ease-in-out;
        width: 12px;
        height: 12px;
        filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
        
        &.rotate {
          transform: rotate(180deg);
        }
      }

      .dropdown {
        min-width: 200px;
        z-index: 1;
        display: none;
        position: absolute;
        background: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 0.5rem 1rem;
        margin-top: 1rem;
        list-style: none;
        
        &.visible {
          display: block;
        }

        li {
          margin: 0;
          padding: 1rem 0.5rem;

          a {
            color: #333;
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
              color: $primary-color;
            }
          }
        }
      }

      &:hover .dropdown:not(.visible) {
        @media (min-width: 769px) {
          display: block;
        }
      }
    }
  }

  a {
    text-decoration: none;
  }

  .cta-button {
    display: flex;
    background-color: $primary-color;
    padding: 10px 20px;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none;
    color: $background-color;
    border-radius: 5px;
    text-transform: uppercase;
    border: 1px solid $background-color;
    cursor: pointer;

    svg {
      margin-left: 0.5rem;
      color: $background-color;
    }
    &:hover {
      color: $primary-color;
      background-color: $background-color;
      border: 1px solid $primary-color;
      svg {
        color: $primary-color;
      }
    }
  }

  .safe-zone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    .logo {
      width: 150px;
    }
    .mobile-menu-icon {
      display: none;
      
      img.rotate {
        transform: rotate(180deg);
      }
    }
  }

  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      background: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
      z-index: 99;
      max-height: calc(100dvh - 70px);
      overflow-y: auto;

      &.visible {
        display: flex;
        background-color: #fff;

        li {
          padding: 0.25rem 1rem;
          flex-direction: column;
        }
      }

      li {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 0.5rem 0;

        .nav-item-container {
          justify-content: center;
          min-height: auto;
          padding: 0.5rem 0;
        }

        .dropdown {
          position: static;
          box-shadow: none;
          margin-top: 0;
          padding: 0;
          display: none;

          &.visible {
            display: block;
          }
        }
      }
    }

    .mobile-menu-icon {
      display: block !important;
      filter: invert(53%) sepia(83%) saturate(7496%) hue-rotate(353deg);
      background: none;
      border: none;
      cursor: pointer;

      img {
        width: 24px;
        height: 24px;
        transition: transform 0.2s ease-in-out;
      }
    }

    .cta-link {
      display: none;
    }
  }
}