$primary-color: #f05a28;

.navigation {
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  padding: 0 1rem;
  top: 0;
  z-index: 100;

  .safe-zone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    .logo {
      width: 150px;
    }

    .nav-links {
      display: flex;
      list-style: none;

      li {
        margin: 0 1rem;
        cursor: pointer;
        a {
          color: #333;
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }

    .cta-button {
      display: inline-flex;
      align-items: center;
      background-color: #ff6b45;
      padding: 1rem 1.5rem;
      font-weight: 600;
      transition: gap 0.3s ease;
      cursor: pointer;
      border: 0px;
      color: #fff;
      text-transform: uppercase;

      &:hover {
        gap: 0.75rem;
        background-color: #29454e;
        color: #bcd2d3;
      }
    }
  }
}

@media (max-width: 768px) {
  .navigation {
    padding: 0 1rem;

    .safe-zone {
      .nav-links {
        display: none;
      }

      .cta-button {
        padding: 0.5rem 0.8rem;
      }
    }
  }
}
