.partners {
  width: 100%;
  background-color: #f8f9fa;
  margin: 2rem auto;

  &__logo-container {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    width: 75%;
    height: auto;
  }
}
