.footer {
  background-color: #186367;
  color: #fff;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__logo {
    width: 400px;
    margin-bottom: 2.5rem;
  }

  &__contact {
    margin: 0.5rem 0;
  }

  &__social-icons {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }
  &__social-icon {
    margin: 1rem;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: 0.8rem;
    background-color: #13565a;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      background-color: #f36e3d;
    }
  }

  &__sitemap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0;

    a {
      margin: 0.5rem 1rem;
      color: #bcd2d3;
      text-decoration: none;
      transition: color 0.3s ease;
      &:hover {
        color: #f36e3d;
      }
    }
  }

  &__copyright {
    width: 100%;
    margin-top: 1rem;
    border-top: 1px solid #bcd2d333;
    padding: 1.4rem 0;
  }
}

@media (max-width: 768px) {
  .footer {
    &__sitemap {
      flex-direction: column;
      align-items: center;
    }
  }
}
