.footer {
  background-color: #186367;
  color: #fff;
  position: relative;

  &__images-wrapper {
    margin: 0 auto;
    max-width: 1290px;
    position: relative;
  }

  &__images {
    display: flex;
    flex-wrap: nowrap;
    left: 50%;
    margin: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100%;
    img {
      cursor: pointer;
      transition: 0.3s ease;
      &:hover {
        filter: brightness(0.8);
      }
    }
  }

  &__sections {
    display: flex;
    margin: 0 auto;
    max-width: 1290px;
    padding-top: 10rem;
    p {
      text-align: left;
    }
  }

  &__section {
    border-right: 1px solid #bcd2d333;
    flex: 1;
    margin-bottom: 2rem;
    padding: 0 2rem;
    &:first-child {
      font-size: 14px;
      padding-left: 0;
    }
    &:last-child {
      border-right: none;
      padding-right: 0;
    }
    h3 {
      color: #fff;
      margin-bottom: 2rem;
    }
    ul {
      list-style-type: none;
      li {
        margin: 0.5rem 0;
        a {
          color: #bcd2d3;
          cursor: pointer;
          text-decoration: none;
          transition: color 0.3s ease;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
  }

  &__logo {
    width: 150px;
  }

  &__social-icon {
    background-color: #13565a;
    border-radius: 50%;
    cursor: pointer;
    height: 48px;
    margin: 0.2rem;
    padding: 0.8rem;
    transition: 0.2s;
    width: 48px;
    &:hover {
      background-color: #f36e3d;
    }
  }

  &__copyright {
    border-top: 1px solid #bcd2d333;
    margin: 0 auto;
    max-width: 1290px;
    padding: 1.5rem;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .footer {
    &__sections {
      flex-direction: column;
      padding-top: 0;
    }
    &__section {
      margin-bottom: 1rem;
      padding: 1rem;
      &:first-child {
        padding-left: 1rem;
      }
      h3 {
        margin-bottom: 1rem;
      }
    }
  }
}

@media (max-width: 1290px) {
  .footer {
    &__images {
      display: none;
    }
    &__sections {
      flex-direction: column;
      padding-top: 0;
    }
  }
}
