.showcase {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  margin: 2rem auto;
  max-width: 1290px;

  &__image {
    width: auto;
    height: 500px;
  }

  &__descriptions {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__description-item {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
  }
}
