.gallery {
  margin: 0 auto;
  max-width: 1290px;

  &__images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
  }

  &__title {
    margin-bottom: 1rem;
    padding: 1rem 0;
    color: #2a454e;
  }

  &__image {
    max-width: 100%;
    transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
    &:hover {
      cursor: pointer;
      transform: scale(1.025);
      filter: saturate(150%);
    }
  }

}
